
@import "tailwindcss";

:root {

  --text-color: #ffffff;
  --primary:#2071f3;
  --background-light: #f5f7f8;
  --background-dark: #101722;
  --accent: #111725;
}

*{
   
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

@layer theme{
    .text-primary {
        color: var(--primary);
    }
    .bg-background-dark {
        background-color: var(--background-dark);
    }
    .bg-background-light {
        background-color: var(--background-light);
    }
    .text-color {
        color: var(--text-color);
    }
}